@import "_mixins.scss";
@import "_fonts.scss";
//@import "_icomoon.scss";



// @import "_null.scss";

body {
	color: #000;
	font-size: 14px;
	&._lock {
		overflow: hidden;
	}
}

// ==========================================================================================================
// .wrapper {
// 	width: 100%;
// 	min-height: 100%;
// 	overflow: hidden;
// 	display: flex;
// 	flex-direction: column;
// 	&._loaded {
// 	}
// }

._container {
	max-width: $maxWidthContainer;
	margin: 0 auto;
	padding: 0px 15px;
}

// @import "_forms.scss";
// @import "_ui.scss";
// @import "_datepicker.scss";
// @import "_lightgallery.scss";
//@import "_pagging";
// @import "_popup.scss";
// @import "_nouislider.scss";
// @import "_tippy.scss";
// @import "_header.scss";
// @import "_footer.scss";
// @import "_home.scss";

// =========================================================================================================================================================

// =========================================================================================================================================================
body, html {
	font-family:sans-serif;
	background:#ffcc33;
	height:100%;
	position:relative;
	overflow:hidden;
	margin:0;
}

.demo {
	visibility:hidden;
}

.demo div {
	position:absolute;
	display:inline-block;
	left:50%;
	top:50%;
	font-weight:800;
	font-size:60px;
	color:#1C70A7;
	transform:translate(-50%, -50%);
	width:100%;
	text-align:center;
}

.footer {
	position:fixed;
	bottom:0;
	padding:20px;
}
// =========================================================================================================================================================

// =========================================================================================================================================================

// =========================================================================================================================================================

// =========================================================================================================================================================

// =========================================================================================================================================================

// =========================================================================================================================================================

// =========================================================================================================================================================

// =========================================================================================================================================================

// =========================================================================================================================================================

// =========================================================================================================================================================

// =========================================================================================================================================================

// =========================================================================================================================================================

// =========================================================================================================================================================

// =========================================================================================================================================================

// =========================================================================================================================================================

// =========================================================================================================================================================

// =========================================================================================================================================================

// =========================================================================================================================================================
@import "_medias.scss";
