@import "_mixins.scss";
@import "_fonts.scss";
//@import "_icomoon.scss";
@import "_null.scss";

body {
	font-family: "Myriad Pro";
	color: #000;
	font-size: 14px;
	&._lock {
		overflow: hidden;
	}
}

$brown: #8e4423;
$black: #242729;
$yellow: #e6e3bb;
// ==========================================================================================================
.wrapper {
	width: 100%;
	min-height: 100%;
	// overflow: hidden;
	display: flex;
	flex-direction: column;
	background-image: url("/img/bg.jpg");
	background-repeat: repeat-y;
	background-size: cover;
	&._loaded {
	}
}

._container {
	max-width: #{$maxWidthContainer + px};
	margin: 0 auto;
	padding: 0px 15px;
	width: 100%;
}

// @import "_forms.scss";
// @import "_ui.scss";
// @import "_datepicker.scss";
// @import "_lightgallery.scss";
//@import "_pagging";
// @import "_popup.scss";
// @import "_nouislider.scss";
// @import "_tippy.scss";
// @import "_header.scss";
// @import "_footer.scss";
// @import "_home.scss";

// =========================================================================================================================================================
.btn {
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.56);
	color: #e6e3bb;
	@include adaptive-font(14, 10, 1);
	font-weight: 400;
	white-space: nowrap;
	box-shadow: 0 0 4px rgba(0, 0, 0, 0.46), inset 0 1px 0 rgba(255, 255, 255, 0.22);
	background-color: $brown;
	background-image: linear-gradient(to top, rgba(0, 0, 0, 0.19) 0%, rgba(255, 255, 255, 0.19) 100%);
	border-radius: 5px;
	padding: 0 10px 0 10px;
	&:hover {
		color: #8d883f;
	}
}

// =========================================================================================================================================================
.header {
	display: flex;
	font-weight: 400;
	font-style: italic;
	letter-spacing: normal;
	text-align: center;
	box-shadow: 0 0 3px rgba(0, 0, 0, 0.66);
	background-color: $black;
	background-image: linear-gradient(to top, rgba(0, 0, 0, 0.13) 0%, rgba(255, 255, 255, 0.13) 100%);
	@include adaptive-font(14, 12, 1);
	font-family: "Myriad Pro";
	@include adaptive-value("padding-top", 19, 10, 1);
	@include adaptive-value("padding-bottom", 19, 10, 1);
	@include adaptive-value("padding-right", 25, 10, 1);
	@include adaptive-value("padding-left", 25, 10, 1);
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}
// =========================================================================================================================================================

.logo {
	color: $yellow;
	font-family: "Nikaia";
	@include adaptive-font(30, 20, 1);
	font-style: italic;
	letter-spacing: normal;
	@include adaptive-value("padding-right", 20, 1, 1);
}
// =========================================================================================================================================================

.nav {
	flex: 1;

	// .nav__list

	&__list {
		display: flex;
		align-items: center;
		height: 100%;
	}

	// .nav__link

	&__link {
		color: $yellow;
		font-style: normal;
		letter-spacing: normal;
		@include adaptive-value("margin-right", 33, 1, 1);
		&:hover {
			color: $brown;
		}
		&.active {
			color: $brown;
		}
	}
}
.wellcome {
	display: flex;
	flex-wrap: wrap;

	// .wellcome__text

	&__text {
		color: #7b7a6d;
		font-size: 14px;
		font-style: normal;
		box-shadow: 0 1px 0 rgba(255, 255, 255, 0.52);
		background-color: #202224;
		background-image: linear-gradient(to top, rgba(255, 255, 255, 0.19) 0%, rgba(0, 0, 0, 0.19) 100%);
		padding: 8px 12px 6px;
		border-radius: 5px;
		white-space: nowrap;

		span {
			color: $brown;
		}
	}

	// .wellcome__sign-out

	&__sign-out {
		margin: 0 0 0 10px;
	}
}

// =========================================================================================================================================================

// =========================================================================================================================================================

// =========================================================================================================================================================

// =========================================================================================================================================================

// =========================================================================================================================================================

// =========================================================================================================================================================

// =========================================================================================================================================================

// =========================================================================================================================================================

// =========================================================================================================================================================

// =========================================================================================================================================================

// =========================================================================================================================================================

// =========================================================================================================================================================

// =========================================================================================================================================================

// =========================================================================================================================================================

// =========================================================================================================================================================

// =========================================================================================================================================================

// =========================================================================================================================================================

// =========================================================================================================================================================

// =========================================================================================================================================================
@import "_medias.scss";
